@model Microsoft.FSharp.Collections.FSharpList<Products.Product>

@{
    ViewBag.Title = "Products Home";
}

<h1>Products</h1>
<div class="row">
    <div class="col-md-4">
        <h3 id="name">Product Name</h3>
        @foreach (var product in Model)
        {
            <p id="prodName">@product.ProductName</p>
        }
    </div>
    <div class="col-md-4">
        <h3 id="count">Product Count</h3>
        @foreach (var product in Model)
        {
            <p id="prodCount">@product.ProductCount</p>
        }
    </div>
</div>