@model Microsoft.FSharp.Collections.FSharpList<Products.Product>

@{
    ViewBag.Title = "Products Home";
}

<h1>Products</h1>
<table class="table table-bordered">
    <tr>
        <th>
            Name
        </th>
        <th>
            Count
        </th>
        <th>
            Price
        </th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.ProductCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.ProductPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = product.ProductId })
            </td>
        </tr>
    }
</table>
